@import "../../../utils/constants";

.main-div {
  flex: 1;
  width: 100%;
  height: 100vh;
  display: flex;

  h1 {
    font-size: 4rem;
  }

  .left-div {
    flex: 3;
    background-color: $blue-black-color;
    padding: 2rem 2rem;

    h1,
    h2 {
      text-align: right;
      color: $white-color;
    }
    h2:after {
      content: " ";
      background-color: $white-color;
      width: 1rem;
      height: 5px;
      position: absolute;
      margin-top: 1.5rem;
      margin-left: 1rem;
    }
  }

  .right-div {
    flex: 4;
    padding: 2rem 2rem;
    // background-color: $blue-black-color;

    h1,
    h2 {
      text-align: left;
      color: $blue-black-color;
    }

    h2:before {
      content: " ";
      background-color: $blue-black-color;
      width: 1rem;
      height: 5px;
      position: absolute;
      margin-top: 1.5rem;
      margin-left: -2rem;
    }
  }

  .img-div {
    width: 25vw;
    position: absolute;
    bottom: 0;
    left: 37.7vw;
  }

  .sm-content-div {
    display: none;
  }

  .title-div, .outline-container, .solid-container {
    display: none;
  }
}

@media (max-width: $sm-screen) {
  .main-div {
    height: calc(100vh - 65px);
    h1 {
      font-size: 2.25rem;
    }
    .sm-content-div {
      display: block;
      text-align: center;
      color: #151c24;
      /* mix-blend-mode: difference; */
      letter-spacing: 10px;
      position: absolute;
      width: 100%;


      h3 {
        margin-bottom: 0px;
        color: #f5ba57;
        line-height: unset;
        letter-spacing: 6px;
        text-transform: uppercase;
      }
    }

    .left-div {
      flex: 1 1;
      background-color: #151c24;
      padding: 2rem 0rem 0rem 0rem;
      height: calc(100vh - 60px);
      box-sizing: border-box;
      z-index: 2;

      h1,
      h2 {
        display: none;
      }
    }

    .right-div {
      flex: 1 1;
      padding: 2rem 0rem 0rem 0rem;
      height: calc(100vh - 60px);
      box-sizing: border-box;

      h1,
      h2 {
        display: none;
      }
    }

    .img-div {
      width: 75vw;
      position: absolute;
      bottom: -55px;
      left: 14vw;
      z-index: 2;
    }

    // new Changes

    .title-div {
      position: absolute;
      width: 100%;
      text-align: center;
      display: block;
      margin-top: 20px;

      &.outline-container {
        z-index: 3;
        display: block;


        .title-outline {
          color: transparent;
          -webkit-text-stroke: 1px #ffffff;
          color: none;
          letter-spacing: 10px;
          text-transform: uppercase;
          
        }
      }

      &.solid-container {
        z-index: 0;
        display: block;

        .title-solid {
          color: #ffffff;
          
          -webkit-text-stroke: 0.5px #ffffff;
          letter-spacing: 10px;
          text-transform: uppercase;
        }
      }
    }
  }
}
