@import "../../../utils/constants";

.about-me-container {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;

  .div-container {
    height: 80%;
    width: 80%;
    display: flex;

    .section-one {
      background-color: $yellow-color;
      flex: 1;
      border-radius: 20px 0px 0px 20px;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .section-two {
      background-color: $blue-black-color;
      flex: 1;
      border-radius: 0px 20px 20px 0px;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

  
    }
  }
}

@media (max-width: $sm-screen) {
  .about-me-container {
    .div-container {
      flex-direction: column;
      width: 100%;

      .section-one {
        border-radius: 20px 20px 0px 0px;
        padding: 50px 20px;
      }

      .section-two {
        border-radius: 0px 0px 20px 20px;
        padding: 50px 20px;
      }
    }
  }
}
